<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <style>
table, th, td {
  border: 1px solid black;
  margin: center;
}
table.center {
  margin-left: auto; 
  margin-right: auto;
}
</style>
</head>
<body>
    {{{body}}}
</body>
</html>