
<h1 id="demo"></h1>
<button type="button" id="button" onclick="myFunction()">Pivot</button>
<table class="table table-responsive table-hover table-bordered " id="list_table_json" hidden> 
  <thead>
      <tr>
            
      </tr>                   
  </thead>
</table>


<table class="table table-responsive table-hover table-bordered" id="list_table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Fullname</th>
            <th>Email</th>
            <th>Item</th>
            <th>Quantity</th>                  
        </tr>                   
    </thead>
</table>
    


<script type='text/javascript'>

$(document).ready(function(){
    
  $.ajax({
  url: "/pivot-data",
  dataType:'json',
  success: function( result ) {
    const head = Object.keys(result[0])
    for (var i=0; i<head.length; i++){
      var col = $('<th>' + head[i] + '</th>')
      $("#list_table_json").append(col);
    }

    const data = result
    for (var i=0; i<data.length; i++) {
        var row = $('<tr><td>' + data[i].fullname +'</td><td>' + data[i].email +'</td><td>' + data[i].barang1 +'</td><td>' + data[i].barang2 
                                +'</td><td>' + data[i].barang3 +'</td><td>' + data[i].barang4 +'</td><td>' + data[i].barang5 +'</td><td>' + data[i].barang6
                                    +'</td><td>' + data[i].barang7 +'</td><td>' + data[i].barang8 +'</td><td>' + data[i].barang9 +'</td><td>' + data[i].barang10 +'</td></tr>');
            $("#list_table_json").append(row);
      }             
    }
  });


  $.ajax({
  url: "/get-data",
  dataType:'json',
  success: function( result ) {
    const data = result[0]
    for (var i=0; i<data.length; i++) {
        var row = $('<tr><td>' + data[i].id+ '</td><td>' + data[i].fullname +'</td><td>' + data[i].email +'</td><td>' + data[i].item +'</td><td>' + data[i].quantity +'</td></tr>');
            $("#list_table").append(row);
    }
            
           
  }
});
})

function myFunction(){
  document.getElementById("list_table_json").style.display = "table";
  document.getElementById("list_table").style.display = "none";

}

</script>